Django==1.11.11

# REST
djangorestframework==3.9.4
djangorestframework-filters==0.8.0
djangorestframework-jwt==1.9.0
djoser==1.7.0
django-extra-fields
django-cors-headers==1.2.0
graphene-django>=2.0.0
django-filter==1.1.0

Pillow==3.2.0

# dev
ipdb

uWSGI==2.0.17
dj-database-url==0.4.1
psycopg2==2.6.1

pytest-django==3.1.2